<div style="margin: 20px auto; width: 780px;">

    <div class="app-component">
      <h2>App Component</h2>
      <button> Button </button>
      <div>
        <button (click)="createUser()"> Create User </button>
      </div>
      
      <div>
        <button (click)="updateUser()">Update User</button>
      </div>
      <div>
        <button (click)="deleteUser()">Delete User</button>
      </div>
    </div>

    <div class="component-container">
      <component-one></component-one>
      <app-item-list [list]="itemList" (eventOutput)="eventFromChild($event)" ></app-item-list>
      
    </div>

</div>
