<!-- <p>Angular App</p>

<app-item-list [list]="itemList" (eventOutput)="eventFromChild($event)" ></app-item-list> -->



<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink routerLink="/">Default</a>
    <!-- <ng-template ngbNavContent>Default</ng-template> -->
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLink="/login">Login</a>
    <!-- <ng-template ngbNavContent>Login</ng-template> -->
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

<router-outlet></router-outlet>

 <!-- <div style="margin: 20px auto; width: 780px;">

    <div class="app-component">
      <h2>App Component</h2>
      <button> Button </button>
      <div>
        <button (click)="createUser()"> Create User </button>
      </div>
      
      <div>
        <button (click)="updateUser()">Update User</button>
      </div>
      <div>
        <button (click)="deleteUser()">Delete User</button>
      </div>
    </div>

    <div class="component-container">
      <component-one></component-one>
      <app-item-list [list]="itemList" (eventOutput)="eventFromChild($event)" ></app-item-list>
      
    </div>

</div> -->

<!--<mat-grid-list [cols]="2">
  <mat-grid-tile>
    <app-reactive-form></app-reactive-form>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list> -->